.weather {
  margin: 1rem;
  /* text-align: center; */
}

.currentWeatherList, .hourlyList, .dailyList {
  list-style-type: none;
  padding: 0;
}

.currentWeatherList li{
  margin-bottom: 0.6rem;
}

.outerDiv {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0029FA;
  color: white;
  margin: 0;
}