.daily {
  text-align: center;
  font-size: 0.9rem;
  background-color: #5C73F2;
  color: white;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
}

.daily-h2 {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  border-bottom: 2px solid #230A59;
}