img {
  width: 30%;
  margin-left: 30%;
}

.rest-wrapper li:not(.rest-name) {
  list-style: none;
  text-align: center;
  margin-right: 25%;
}

.rest-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  color: white;
}



.rest-name {
  font-size: 2rem;
  margin-top: 3rem;
  margin-left: 36%;
}

.rest-cat {
  font-size: 1.5rem;
}

