.rest-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
}

.rest-img {
  width: 50%;
  margin: 1rem 0;
}

.rest-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rest-info {
  text-align: center;
  padding-right: 2rem;
}

.rest-name {
  font-size: 1.5rem;
}

.rest-head {
  text-align: center;
  color: white;
}

.rest-cat {
  font-size: 1.2rem;
}